[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipykernel = "*"

[packages]
bcrypt = "*"
cryptography = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pylint = "*"
scikit-learn = "*"
scikit-optimize = "*"
scipy = "*"
seaborn = "*"
six = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
xgboost = "*"
Flask = "*"

[requires]
python_version = "3.6"
